In [1]:
!pip install -q dotenv langchain-google-genai ollama pandas

In [4]:
import os

# os.environ["OLLAMA_HOST"] = "https://a973-34-53-30-6.ngrok-free.app"
os.environ["OLLAMA_HOST"] = "https://429d-35-247-20-120.ngrok-free.app"

In [5]:
!ollama list

Error: Head "https://429d-35-247-20-120.ngrok-free.app:443/": dial tcp: lookup 429d-35-247-20-120.ngrok-free.app: no such host

In [3]:
!ollama list

NAME           ID              SIZE      MODIFIED
llama3.2:3b    a80c4f17acd5    2.0 GB    9 minutes ago

In [6]:
# !ollama pull qwen2.5:7b
# !ollama pull gemma3:4b
# !ollama pull gemma3:12b
# !ollama pull phi3:14b
# !ollama pull phi3.5
# !ollama pull phi4
# !ollama pull phi4-mini
!ollama pull llama3.2:3b

!ollama list

Error: Head "https://429d-35-247-20-120.ngrok-free.app:443/": dial tcp: lookup 429d-35-247-20-120.ngrok-free.app: no such host

NAME    ID    SIZE    MODIFIED

In [5]:
def read_file(filename):
    file = open(filename,'r')
    str = file.read()
    return str

def get_question_prompt(sql_file):
    prompt = f""" 
    ### Instructions:
    Your task is to create a text question based on given database schema.
    Adhere to these rules:
    - **Deliberately go through the database schema word by word** to appropriately create the question.
    - **Create a question that will require joins and aliases** to increase difficulty of question.
    - When creating a question, always stick to the given schema.

    ### Input:
    Generate a Text Question based on the following Database Schema `{read_file(sql_file)}`.
    
    This question will assess ability and knowledge of SQL, Database and DBMS.

    ### Response:
    Based on your instructions, here is the Text Question I have generated from the provided schema, without any additional text.:
    """
    return prompt


def get_custom_prompt(question,sql_file):
    # schema = open(sql_file,'r').read()

    prompt = f""" 
    ### Instructions:
    Your task is to convert a question into a SQL query, given a Postgres database schema.
    Adhere to these rules:
    - **Deliberately go through the question and database schema word by word** to appropriately answer the question
    - **Use Table Aliases** to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
    - When creating a ratio, always cast the numerator as float

    ### Input:
    Generate a SQL query that answers the question `{question}`.
    
    This query will run on a database whose schema is represented in this string:

    {read_file(sql_file)}

    ### Response:
    Based on your instructions, here is the SQL query I have generated to answer the question `{question}` without any additional text.:
    """
    return prompt

def get_rate_prompt(schema,question,answer):
    prompt = f"""

    ### Instructions:
    Your Task is to throughly study the given SQL Schema, and the text question asked based on the schema. you will be also be given a SQL query, which you have to rate on scale of 10.
    
    Adhere to these rules:
    - **Deliberately go through the question and database schema word by word** to appropriately answer the question
    - **Use Table Aliases** to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
    - When creating a ratio, always cast the numerator as float


    ## Input:
    A question, {question}, is asked based on schema as given below.
    
    Overall Rate the SQL query on scale of 10, `{answer}`, based on the efficiency simplicity.
    This Query is suppose to run on the schema in the following string:

    {read_file(schema)}

    I DONT WANT EXPLAINATION FOR YOUR RATINGS! I ONLY WANT THE RATING! THATS IT!

    

    ### Response:
    Based on your instructions, here is the rating of the sql query for provided schema without any additional text.:
    """

    return prompt


def get_ratings(schema,question,answer):
    response = llm_gemini.invoke(
        get_rate_prompt(
            schema = schema,
            question = question,
            answer = answer,
            )
    )
    
    return response.content

In [6]:
from dotenv import load_dotenv
from langchain_google_genai import ChatGoogleGenerativeAI

load_dotenv()

llm_gemini = ChatGoogleGenerativeAI(
    model = "gemini-2.0-flash",
    api_key = os.getenv("GEMINI_API_KEY")
)

In [262]:
# ans=llm_gemini.invoke("tell me a joke")
# ans.content

In [10]:
questions = [
    "List all drugs in the 'Painkillers' category with a stock below 100 units, along with their supplier names and the date when their inventory was last updated. Order results by oldest inventory update first.",
    "Identify the top 5 products by total sales amount in the last quarter of 2024, including their category names and the store locations where they were sold. Order the results by total sales amount in descending order.",
    "Find the top 3 products with the highest average rating from user reviews, including their category names and total sales amounts. Only consider products that have been ordered at least 10 times. Order the results by average rating in descending order.",
    "List all agents who have facilitated sales of properties with a total sale price exceeding $500,000 in the last year. Include their full names, the number of properties sold, and the total commission earned. Order the results by total commission in descending order.",
    "Identify the top 5 products by total sales amount in the last quarter of 2024, including the name of the employee who made the sale and the total quantity sold for each product. Order the results by total sales amount in descending order.",
    "Retrieve the first name of customers who have given a 5-star rating to a restaurant and have also placed at least one order at that restaurant. For each such customer-restaurant pair, also retrieve the name of the restaurant and the total amount the customer has spent at that restaurant.",
    "Retrieve the first and last name of customers who have purchased a vehicle and also requested a service for that same vehicle, along with the model of the vehicle and the total cost of all services for that vehicle.",
    "How can you retrieve a list of all active subscriptions along with the customer's name, plan name, and the subscription's start and end dates",
    "How can you retrieve a report showing the total stock level of each product across all warehouses, including the product name and total quantity available?",
    "How can you generate a report showing the total sales revenue for each salesperson, including their name and the total amount sold?",
]

responses = []
ratings = []

In [11]:
# dict={
#     'schema':schema,
#     'question':question,
#     'sqlanswer':sqlanswer,
#     'rating':rating,
#     'model':model,
# }

In [ ]:

# import ollama

# model_list = ['qwen2.5:7b','gemma3:4b','phi3','phi3.5']

# dict=[]

# for model in model_list:
    
#     for i in range(5):
#         FILENAME = f"table_list{i+1}_exp.sql"

#         response = ollama.chat(model=model, messages=[
#         {
#             'role': 'user',
#             # 'content': get_prompt("What are the names and prices of all drugs in the 'Antibiotics' category?")
#             'content': get_custom_prompt(
#                 question = questions[i],
#                 sql_file = FILENAME
#             )
#             # 'content': get_prompt("Which pharmacies have sold more than 100 units of drugs from the 'Painkillers' category in the last 30 days, and what is the total revenue generated from those sales, including the names of the employees who made the sales?")
#         },
#         ])

#         res = response['message']['content']
        

#         responses.append(res)

#         rating = get_ratings(
#             schema = f"table_list{i+1}_exp.sql",
#             question = questions[i],
#             answer = res,
#         )

#         ratings.append(rating)

#         d={
#             'schema':read_file(FILENAME),
#             'model':model,
#             'question':questions[i],
#             'sqlanswer':res,
#             'rating':rating
#         }

#         dict.append(d)

In [13]:
!ollama list
# !ollama pull llama3.2:3b

NAME           ID              SIZE      MODIFIED
llama3.2:3b    a80c4f17acd5    2.0 GB    2 minutes ago

In [ ]:
# import ollama

# # model_list = ['qwen2.5:7b','gemma3:4b','gemma3:12b','phi3:latest','phi3:14b','phi3.5:latest','phi4:latest','phi4-mini:latest']

# model_list = ['llama3.2:3b']#'qwen2.5:7b','gemma3:4b','gemma3:12b','phi3:latest','phi3:14b','phi3.5:latest','phi4:latest','phi4-mini:latest']

# dict=[]

# # textquestion_llm = llm_gemini

# for model in model_list:
#     for i in range(10):
#         FILENAME = f"table_list{i+1}_exp.sql"

#         llm_question = ollama.chat(model=model,messages=[
#             {
#                 'role':'user',
#                 'content':get_question_prompt(
#                     sql_file=FILENAME
#                 )
#             }
#         ])

#         # llm_question = llm_gemini.invoke(
#         #     input=get_question_prompt(FILENAME)
#         # )

#         response = ollama.chat(model=model, messages=[
#         {
#             'role': 'user',
#             'content': get_custom_prompt(
#                 question = llm_question,
#                 sql_file = FILENAME
#             )
#         },
#         ])

#         res = response['message']['content']
#         print(res)
#         responses.append(res)

#         rating = get_ratings(
#             schema = f"table_list{i+1}_exp.sql",
#             question = llm_question,
#             answer = res,
#         )
#         ratings.append(rating)

#         d={
#             'schema':read_file(FILENAME),
#             'model':model,
#             'question':llm_question,
#             'sqlanswer':res,
#             'rating':rating
#         }

#         dict.append(d)

        
#         print('*'*50)
#         print(d)
#         print('*'*50)

SELECT T1.employee_id, SUM(T2.total_amount) AS total_spent, COUNT(DISTINCT T3.pharmacy_name) AS num_pharmacies, SUM(T3.quantity * T4.price) / 100 AS avg_price FROM employee AS T1 JOIN sales AS T2 ON T1.employee_id = T2.employee_id JOIN sale_details AS T3 ON T2.sale_id = T3.sale_id JOIN drug AS T4 ON T3.drug_id = T4.drug_id WHERE T2.total_amount IS NOT NULL AND T3.pharmacy_name LIKE 'A%' GROUP BY T1.employee_id;
**************************************************
{'schema': "    \n    CREATE TABLE supplier (\n    supplier_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each supplier, auto-incremented\n    supplier_name VARCHAR(100) NOT NULL, -- Name of the supplier company or entity\n    contact_info VARCHAR(100), -- Contact details (e.g., phone, email) of the supplier\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Date and time when the supplier record was created\n);\n\nCREATE TABLE drug_category (\n    category_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each drug category, auto-incremented\n    category_name VARCHAR(50) NOT NULL -- Name of the drug category (e.g., Antibiotics, Painkillers)\n);\n\nCREATE TABLE drug (\n    drug_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each drug, auto-incremented\n    category_id INT, -- ID of the category this drug belongs to\n    drug_name VARCHAR(100) NOT NULL, -- Name of the drug (e.g., Amoxicillin)\n    manufacturer VARCHAR(100), -- Name of the company that produces the drug\n    price DECIMAL(10,2), -- Price per unit of the drug\n    stock INT -- Current stock quantity of the drug in inventory\n);\n\nCREATE TABLE pharmacy (\n    pharmacy_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each pharmacy, auto-incremented\n    pharmacy_name VARCHAR(100) NOT NULL, -- Name of the pharmacy\n    location VARCHAR(100), -- Physical location or address of the pharmacy\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Date and time when the pharmacy record was created\n);\n\nCREATE TABLE employee (\n    employee_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each employee, auto-incremented\n    pharmacy_id INT, -- ID of the pharmacy where the employee works\n    first_name VARCHAR(50), -- Employee's first name\n    last_name VARCHAR(50), -- Employee's last name\n    role VARCHAR(50) -- Employee's job role (e.g., Pharmacist, Cashier)\n);\n\nCREATE TABLE sales (\n    sale_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each sale, auto-incremented\n    pharmacy_id INT, -- ID of the pharmacy where the sale occurred\n    employee_id INT, -- ID of the employee who made the sale\n    sale_date DATE, -- Date the sale took place\n    total_amount DECIMAL(10,2) -- Total monetary amount of the sale\n);\n\nCREATE TABLE sale_details (\n    sale_detail_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each sale detail entry, auto-incremented\n    sale_id INT, -- ID of the sale this detail belongs to\n    drug_id INT, -- ID of the drug sold\n    quantity INT, -- Number of units of the drug sold\n    subtotal DECIMAL(10,2) -- Total cost for this drug in the sale (quantity * price)\n);\n\nCREATE TABLE inventory (\n    inventory_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each inventory record, auto-incremented\n    drug_id INT, -- ID of the drug being tracked\n    supplier_id INT, -- ID of the supplier providing the drug\n    stock_level INT, -- Current stock level of the drug from this supplier\n    last_updated DATE -- Date when the stock level was last updated\n);\n\nCREATE TABLE prescription (\n    prescription_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each prescription, auto-incremented\n    sale_id INT, -- ID of the sale associated with this prescription\n    doctor_name VARCHAR(100), -- Name of the doctor who issued the prescription\n    prescription_date DATE -- Date the prescription was issued\n);\n\nCREATE TABLE feedback (\n    feedback_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each feedback entry, auto-incremented\n    pharmacy_id INT, -- ID of the pharmacy receiving the feedback\n    rating INT CHECK (rating >= 1 AND rating <= 5), -- Customer rating (1 to 5 stars)\n    comments TEXT, -- Customer comments or notes\n    feedback_date DATE -- Date the feedback was submitted\n);", 'model': 'llama3.2:3b', 'question': ChatResponse(model='llama3.2:3b', created_at='2025-03-24T11:29:58.717642519Z', done=True, done_reason='stop', total_duration=1720511499, load_duration=26400809, prompt_eval_count=1002, prompt_eval_duration=358989585, eval_count=71, eval_duration=1334061699, message=Message(role='assistant', content='Here is a text question that requires joins and aliases based on the given database schema:\n\n"What is the total amount spent by each employee in sales involving antibiotics in pharmacies where the pharmacy name starts with \'A\', along with the quantity of antibiotic drugs sold and their corresponding prices?"\n\nPlease let me know if this meets your requirements or if you need any modifications.', images=None, tool_calls=None)), 'sqlanswer': "SELECT T1.employee_id, SUM(T2.total_amount) AS total_spent, COUNT(DISTINCT T3.pharmacy_name) AS num_pharmacies, SUM(T3.quantity * T4.price) / 100 AS avg_price FROM employee AS T1 JOIN sales AS T2 ON T1.employee_id = T2.employee_id JOIN sale_details AS T3 ON T2.sale_id = T3.sale_id JOIN drug AS T4 ON T3.drug_id = T4.drug_id WHERE T2.total_amount IS NOT NULL AND T3.pharmacy_name LIKE 'A%' GROUP BY T1.employee_id;", 'rating': '8'}
**************************************************
SELECT e.first_name, e.last_name, d.department_name, s.store_name, SUM(sai.quantity) AS total_quantity FROM employee e JOIN store s ON e.store_id = s.store_id JOIN department d ON e.department_id = d.department_id JOIN product p ON s.id = p.category_id WHERE p.category_name IN ('TVs', 'Shirts') AND sales.sale_date >= '2022-01-01' GROUP BY e.first_name, e.last_name, d.department_name, s.store_name;
**************************************************
{'schema': 'CREATE TABLE store (\n    store_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each store, automatically incremented\n    store_name VARCHAR(50) NOT NULL, -- Name of the store\n    location VARCHAR(100) -- Physical location or address of the store\n);\n\nCREATE TABLE department (\n    department_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each department, automatically incremented\n    department_name VARCHAR(50) NOT NULL -- Name of the department (e.g., Electronics, Clothing)\n);\n\nCREATE TABLE category (\n    category_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each product category, automatically incremented\n    category_name VARCHAR(50) NOT NULL -- Name of the product category (e.g., TVs, Shirts)\n);\n\nCREATE TABLE product (\n    product_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each product, automatically incremented\n    category_id INT, -- ID of the category this product belongs to\n    product_name VARCHAR(100), -- Name of the product (e.g., "LED TV 55-inch")\n    price DECIMAL(10,2), -- Price per unit of the product\n    FOREIGN KEY (category_id) REFERENCES category(category_id) -- Links to category table\n);\n\nCREATE TABLE employee (\n    employee_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each employee, automatically incremented\n    store_id INT, -- ID of the store where the employee works\n    department_id INT, -- ID of the department the employee is assigned to\n    first_name VARCHAR(50), -- Employee\'s first name\n    last_name VARCHAR(50), -- Employee\'s last name\n    FOREIGN KEY (store_id) REFERENCES store(store_id), -- Links to store table\n    FOREIGN KEY (department_id) REFERENCES department(department_id) -- Links to department table\n);\n\nCREATE TABLE customer (\n    customer_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each customer, automatically incremented\n    first_name VARCHAR(50), -- Customer\'s first name\n    email VARCHAR(100) -- Customer\'s email address\n);\n\nCREATE TABLE sales (\n    sale_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each sale, automatically incremented\n    store_id INT, -- ID of the store where the sale occurred\n    employee_id INT, -- ID of the employee who processed the sale\n    customer_id INT, -- ID of the customer who made the purchase\n    sale_date DATETIME, -- Date and time when the sale took place\n    total_amount DECIMAL(10,2), -- Total monetary amount of the sale\n    FOREIGN KEY (store_id) REFERENCES store(store_id), -- Links to store table\n    FOREIGN KEY (employee_id) REFERENCES employee(employee_id), -- Links to employee table\n    FOREIGN KEY (customer_id) REFERENCES customer(customer_id) -- Links to customer table\n);\n\nCREATE TABLE sale_items (\n    sale_item_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each sale item, automatically incremented\n    sale_id INT, -- ID of the sale this item belongs to\n    product_id INT, -- ID of the product sold\n    quantity INT, -- Number of units of the product sold\n    subtotal DECIMAL(10,2), -- Subtotal amount for this specific product in the sale\n    FOREIGN KEY (sale_id) REFERENCES sales(sale_id), -- Links to sales table\n    FOREIGN KEY (product_id) REFERENCES product(product_id) -- Links to product table\n);\n\nCREATE TABLE stock (\n    stock_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each stock record, automatically incremented\n    product_id INT, -- ID of the product being tracked\n    store_id INT, -- ID of the store holding this stock\n    quantity INT, -- Current stock quantity of the product at the store\n    FOREIGN KEY (product_id) REFERENCES product(product_id), -- Links to product table\n    FOREIGN KEY (store_id) REFERENCES store(store_id) -- Links to store table\n);\n\n\n\n\n\n\n-- product.category_id can be joined with category.category_id -- Connects each product to its category.\n-- employee.store_id can be joined with store.store_id -- Associates employees with the store they work at.\n-- employee.department_id can be joined with department.department_id -- Links employees to their assigned department.\n-- sales.store_id can be joined with store.store_id -- Ties sales to the store where they occurred.\n-- sales.employee_id can be joined with employee.employee_id -- Connects sales to the employee who processed them.\n-- sales.customer_id can be joined with customer.customer_id -- Links sales to the customer who made the purchase.\n-- sale_items.sale_id can be joined with sales.sale_id -- Associates sale items with their corresponding sale.\n-- sale_items.product_id can be joined with product.product_id -- Connects sale items to the specific product sold.\n-- stock.product_id can be joined with product.product_id -- Ties stock records to the products they track.\n-- stock.store_id can be joined with store.store_id -- Links stock records to the store holding the inventory.', 'model': 'llama3.2:3b', 'question': ChatResponse(model='llama3.2:3b', created_at='2025-03-24T11:30:06.174392689Z', done=True, done_reason='stop', total_duration=2003163187, load_duration=26342315, prompt_eval_count=1183, prompt_eval_duration=591671459, eval_count=76, eval_duration=1384384651, message=Message(role='assistant', content='Here is a text question based on the given database schema:\n\n"List all employees who work at stores that sell TVs and Shirts, along with their department assignment and store name, but only for sales made in 2022 or later, and show the quantity of each product sold by those employees. Note: Ensure correct joins are used, including proper aliases to avoid ambiguity."', images=None, tool_calls=None)), 'sqlanswer': "SELECT e.first_name, e.last_name, d.department_name, s.store_name, SUM(sai.quantity) AS total_quantity FROM employee e JOIN store s ON e.store_id = s.store_id JOIN department d ON e.department_id = d.department_id JOIN product p ON s.id = p.category_id WHERE p.category_name IN ('TVs', 'Shirts') AND sales.sale_date >= '2022-01-01' GROUP BY e.first_name, e.last_name, d.department_name, s.store_name;", 'rating': '7'}
**************************************************
SELECT total_amount FROM order_ JOIN user ON order_.user_id = user.user_id JOIN shipping ON order_.order_id = shipping.order_id WHERE SUBSTR(shipping.shipping_date, 1, 10) = '2022-01-01'
**************************************************
{'schema': 'CREATE TABLE user (\n    user_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each user, automatically incremented\n    username VARCHAR(50) UNIQUE, -- Unique username chosen by the user\n    email VARCHAR(100), -- User\'s email address\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Date and time when the user account was created\n);\n\nCREATE TABLE category (\n    category_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each product category, automatically incremented\n    category_name VARCHAR(50) -- Name of the product category (e.g., Electronics, Clothing)\n);\n\nCREATE TABLE product (\n    product_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each product, automatically incremented\n    category_id INT, -- ID of the category this product belongs to\n    product_name VARCHAR(100), -- Name of the product (e.g., "Wireless Mouse")\n    price DECIMAL(10,2), -- Price per unit of the product\n    stock INT -- Current stock quantity of the product\n    FOREIGN KEY (category_id) REFERENCES category(category_id) -- Links to category table\n);\n\nCREATE TABLE order_ (\n    order_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each order, automatically incremented\n    user_id INT, -- ID of the user who placed the order\n    order_date DATETIME, -- Date and time when the order was placed\n    status ENUM(\'PENDING\', \'SHIPPED\', \'DELIVERED\'), -- Current status of the order\n    total_amount DECIMAL(10,2), -- Total monetary amount of the order\n    FOREIGN KEY (user_id) REFERENCES user(user_id) -- Links to user table\n);\n\nCREATE TABLE order_item (\n    order_item_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each order item, automatically incremented\n    order_id INT, -- ID of the order this item belongs to\n    product_id INT, -- ID of the product ordered\n    quantity INT, -- Number of units of the product ordered\n    subtotal DECIMAL(10,2), -- Subtotal amount for this specific product in the order\n    FOREIGN KEY (order_id) REFERENCES order_(order_id), -- Links to order_ table\n    FOREIGN KEY (product_id) REFERENCES product(product_id) -- Links to product table\n);\n\nCREATE TABLE payment (\n    payment_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each payment, automatically incremented\n    order_id INT, -- ID of the order associated with this payment\n    amount DECIMAL(10,2), -- Amount paid for the order\n    payment_date DATETIME, -- Date and time when the payment was made\n    method ENUM(\'CARD\', \'PAYPAL\', \'COD\'), -- Payment method used (Credit Card, PayPal, Cash on Delivery)\n    FOREIGN KEY (order_id) REFERENCES order_(order_id) -- Links to order_ table\n);\n\nCREATE TABLE shipping (\n    shipping_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each shipping record, automatically incremented\n    order_id INT, -- ID of the order being shipped\n    shipping_date DATE, -- Date when the order was shipped\n    tracking_number VARCHAR(50), -- Tracking number for the shipment\n    FOREIGN KEY (order_id) REFERENCES order_(order_id) -- Links to order_ table\n);\n\nCREATE TABLE review (\n    review_id INT PRIMARY KEY AUTO_INCREMENT, -- Unique ID for each review, automatically incremented\n    product_id INT, -- ID of the product being reviewed\n    user_id INT, -- ID of the user who wrote the review\n    rating INT, -- Rating given by the user (e.g., 1 to 5)\n    comment TEXT, -- Text comment or feedback about the product\n    FOREIGN KEY (product_id) REFERENCES product(product_id), -- Links to product table\n    FOREIGN KEY (user_id) REFERENCES user(user_id) -- Links to user table\n);\n\n\n\n-- product.category_id can be joined with category.category_id -- Connects each product to its category.\n-- order_.user_id can be joined with user.user_id -- Ties orders to the user who placed them.\n-- order_item.order_id can be joined with order_.order_id -- Links order items to their corresponding order.\n-- order_item.product_id can be joined with product.product_id -- Connects order items to the specific product ordered.\n-- payment.order_id can be joined with order_.order_id -- Associates payments with the order they cover.\n-- shipping.order_id can be joined with order_.order_id -- Links shipping records to the order being shipped.\n-- review.product_id can be joined with product.product_id -- Ties reviews to the product being reviewed.\n-- review.user_id can be joined with user.user_id -- Connects reviews to the user who wrote them.', 'model': 'llama3.2:3b', 'question': ChatResponse(model='llama3.2:3b', created_at='2025-03-24T11:30:12.234136584Z', done=True, done_reason='stop', total_duration=2313857080, load_duration=24511559, prompt_eval_count=1131, prompt_eval_duration=475008166, eval_count=108, eval_duration=1813530460, message=Message(role='assistant', content="Here's a sample text question based on the given database schema:\n\nWhat is the total monetary amount for all orders placed by users who live in California? Join the `user` table with the `order_` table using the `user_id` foreign key, and then join the resulting set with the `shipping` table to filter the results to only include orders that have been shipped. Assume that the `shipping` date is stored in a format that can be compared to '2022-01-01' in a date comparison.", images=None, tool_calls=None)), 'sqlanswer': "SELECT total_amount FROM order_ JOIN user ON order_.user_id = user.user_id JOIN shipping ON order_.order_id = shipping.order_id WHERE SUBSTR(shipping.shipping_date, 1, 10) = '2022-01-01'", 'rating': '4'}
**************************************************
SELECT T1.amount, T2.property_type.type_name FROM commission AS T1 JOIN sale AS T2 ON T1.sale_id = T2.sale_id WHERE T1.agent_id IN ( SELECT agent_id FROM agent WHERE first_name = 'Agent A' ) AND T2.sale_id NOT IN ( SELECT sale_id FROM sale WHERE property_id IN ( SELECT property_id FROM property WHERE address LIKE '%Street B%' ) )
**************************************************

In [28]:
import ollama

# model_list = ['qwen2.5:7b','gemma3:4b','phi3','phi3.5']
model_list = ['llama3.2:3b']

dict=[]

for model in model_list:
    
    for i in range(10):
        FILENAME = f"table_list{i+1}_exp.sql"

        response = ollama.chat(model=model, messages=[
        {
            'role': 'user',
            # 'content': get_prompt("What are the names and prices of all drugs in the 'Antibiotics' category?")
            'content': get_custom_prompt(
                question = questions[i],
                sql_file = FILENAME
            )
            # 'content': get_prompt("Which pharmacies have sold more than 100 units of drugs from the 'Painkillers' category in the last 30 days, and what is the total revenue generated from those sales, including the names of the employees who made the sales?")
        },
        ])

        res = response['message']['content']
        

        responses.append(res)

        rating = get_ratings(
            schema = f"table_list{i+1}_exp.sql",
            question = questions[i],
            answer = res,
        )

        ratings.append(rating)

        d={
            'schema':read_file(FILENAME),
            'model':model,
            'question':questions[i],
            'sqlanswer':res,
            'rating':rating
        }

        dict.append(d)

In [29]:
print(responses[1])

SELECT e.first_name, e.last_name, d.department_name, s.store_name, SUM(sai.quantity) AS total_quantity FROM employee e JOIN store s ON e.store_id = s.store_id JOIN department d ON e.department_id = d.department_id JOIN product p ON s.id = p.category_id WHERE p.category_name IN ('TVs', 'Shirts') AND sales.sale_date >= '2022-01-01' GROUP BY e.first_name, e.last_name, d.department_name, s.store_name;

In [31]:
len(ratings)

20

In [33]:
for d in dict:
    print(f"{d['model']} --- {d['rating']}")

llama3.2:3b --- 9
llama3.2:3b --- 7
llama3.2:3b --- 8
llama3.2:3b --- 8
llama3.2:3b --- 9
llama3.2:3b --- 6
llama3.2:3b --- 6
llama3.2:3b --- 9
llama3.2:3b --- 9
llama3.2:3b --- 6

In [45]:
import pandas as pd

df = pd.DataFrame(dict)

In [46]:
df

,schema,model,question,sqlanswer,rating
0,\n CREATE TABLE supplier (\n supplie...,llama3.2:3b,List all drugs in the 'Painkillers' category w...,"SELECT d.drug_name, s.supplier_name, i.last_up...",9
1,CREATE TABLE store (\n store_id INT PRIMARY...,llama3.2:3b,Identify the top 5 products by total sales amo...,"SELECT T1.product_name, T3.category_name, T2.l...",7
2,CREATE TABLE user (\n user_id INT PRIMARY K...,llama3.2:3b,Find the top 3 products with the highest avera...,"SELECT product_name, \n c.category_name,...",8
3,CREATE TABLE agent (\n agent_id INT PRIMARY...,llama3.2:3b,List all agents who have facilitated sales of ...,"SELECT \n A.first_name,\n A.last_name,\n...",8
4,CREATE TABLE supplier (\n supplier_id INT P...,llama3.2:3b,Identify the top 5 products by total sales amo...,"SELECT p.product_name, e.first_name, COALESCE(...",9
5,CREATE TABLE restaurant (\n restaurant_id I...,llama3.2:3b,Retrieve the first name of customers who have ...,"SELECT c.first_name , r.name , COALESCE(SUM(od...",6
6,CREATE TABLE vehicle_type (\n type_id INT P...,llama3.2:3b,Retrieve the first and last name of customers ...,"SELECT T1.first_name, T1.last_name, T3.model, ...",6
7,CREATE TABLE customer (\n customer_id INT P...,llama3.2:3b,How can you retrieve a list of all active subs...,"SELECT c.first_name , p.plan_name , s.start_da...",9
8,CREATE TABLE warehouse (\n warehouse_id INT...,llama3.2:3b,How can you retrieve a report showing the tota...,"SELECT t1.product_name , SUM(t3.stock_level) ...",9
9,CREATE TABLE products (\n product_id IN...,llama3.2:3b,How can you generate a report showing the tota...,To answer this question with the given Postgre...,6

In [42]:
df.to_csv('result25.csv')

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [43]:
df

In [44]:
# df_gemma = df[df['model']=='qwen2.5:7b']
# df_gemma